/* CSS reset */
* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

/* css variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: rgba(0, 0, 0, 0.511);
}

#navbar::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.511);
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
}


/* Navigation: Logo and image */
#logo {
    margin: 3px 43px;
}

#logo img {

    height: 68px;
    width: 70px;
    margin: 1px 2px;
}

/* Navigation bar ListStyling */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 3px 14px;
    margin: 0px 8px;
    border: 2px solid rgba(19, 18, 18, 0.034);
    border-radius: 12px;

}

#navbar ul li a:hover {
    /* color: black; */
    border-color: white;

}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    /* height: 567px; */
    height: 646px;
    padding: 5px 200px;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

#home::before {
    content: "";
    /* intial .. to go back from css folder  */
    background: url(../images/bg-img.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0;
    left: 0;
}



#home h1 {
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: "Bree Serif", serif;
}

/* Service section */
#service-section{
    background-color: #b7acac;
    padding: 0px 20px;
    padding-bottom: 20px;
}

#services {
    margin: 6px;
    display: flex;
}

#services .box {
    border: 2px solid #f74d4d;
    padding: 34px;
    margin: 3px 10px;
    border-radius: 23px;
    background-color: #f74d4d;
    font-family: "Bree Serif", serif;
    box-shadow: 0 0px 13px 3px black;
}


#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .cateringimg{
    position: relative;
    bottom: -20px;
}

/* Client section */

.client-section{
    height: 239px;
    position: relative;
}

.client-section::before{
    content: "";
    background: url('../images/client-bg-img.jpg') no-repeat left center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
    top: 0;
    left: 0;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}


#clients img{
    height: 85px;
    padding: 5px 10px;
}

.client-item{
    padding: 5px;
}

/* Contact section */
#contact{
    position: relative;
    padding-bottom: 1.1rem;
}

#contact::before{
    content: "";
    background: url('../images/Contact-bg-img5.jpg') no-repeat center center/ cover;
    position: absolute;
    /* height: 500px; */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}

#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box input:hover, 
#contact-box textarea:hover{
    border: 2px solid white;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family: "Bree Serif", serif;
}
footer{
    color: white;
    background-color: black;
    padding: 9px 20px;
}

/* Utility Class */
.h-primary {
    font-size: 3.5rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}
.b-primary {
    font-size: 2.7rem;
    padding: 16px;
    font-family: "Bree Serif", serif;
}
.b-secondary {
    font-size: 2.7rem;
    padding-top: 16px;
    font-family: "Bree Serif", serif;
}

.btn {
    margin: 10px;
    font-size: 1.2rem;
    padding: 3px 20px;
    border: 3px solid red;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    border-color: white;
    border-radius: 10px;
}

.center {
    text-align: center;
}